/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');
 @import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
 */
@import "../node_modules/milligram/dist/milligram.min.css";
:root {
  --brand-color: #2eadb3;
}

body {
  position: relative;
  color: #444;
  height: 100vh;
  background: white;
  font-family: "Noto Sans JP", sans-serif;
  /* overflow-y: hidden; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
header {
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  color: #aaa;
  text-align: center;
}
h3 {
  text-align: center;
}
table {
  width: 100%;
}
button.button,
button {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  min-width: 160px;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
}
button.working-true {
  background-color: rgb(22, 134, 0);
}
button.working-false {
  background-color: rgb(172, 0, 0);
}
button:hover,
button:focus {
  transform: scale(1.1);
}
.button.button-clear,
button.button-clear,
input[type="button"].button-clear,
input[type="reset"].button-clear,
input[type="submit"].button-clear {
  color: var(--brand-color);
}
/* p {
   font-size: 24px;
 }
 
 li {
   list-style: none;
 }
 
 a {
   color: white;
   opacity: 0.75;
   text-decoration: none;
 } */

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px 0 12px;
}
.logger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 48px 0 36px;
}
.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0 36px;
}
